<% layout("layouts/boilerplate") %>
<script>
  const map_Token = "<%=process.env.MAP_TOKEN%>";
  const listing = <%-JSON.stringify(listing)%>;
</script>

<div class="container my-4">
  <div class="row">
   
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <h3><%= listing.title %> :</h3>
      <hr>
    </div>

  
    <div class="col-12 col-md-6 offset-md-3 mb-4">
      <div class="card show-card listing-card">
        <img src="<%=listing.image.url%>" class="show-img" alt="Listing image">
        <div class="card-body">
          <p class="card-text">Owned by - <b><%= listing.owner.username%></b></p>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text"><%= listing.location %></p>
          <p class="card-text"><%= listing.country%></p>
        </div>
      </div>
    </div>

   
    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="col-12 action-buttons mb-4">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-success">Edit</a>
        <form method="POST" action="/listings/<%=listing._id %>?_method=DELETE">
          <button class="btn btn-success">Delete</button>
        </form>
      </div>
    <% } %>

   
    <div class="col-12 col-md-6 offset-md-3 mb-4">
      <hr>
      <% if(currUser) { %>
        <h4>Leave a review</h4>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">

          

          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea id="comment" name="review[comment]" cols="10" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">
              Please add some comments for review...
            </div>
          </div>

          <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr/>
      <% } %>
    </div>

 
    <% if(listing.reviews.length > 0) { %>
      <div class="col-12 col-md-8 offset-md-2 mb-4">
        <h5><b>All Reviews</b></h5>
        <div class="row">
          <% for(review of listing.reviews) { %>
            <div class="col-12 col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">@<%= review.author.username %></h5>
                  <p class="card-text"><%=review.comment%></p>
                  <form class="mb-2" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-sm btn-success">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="col-12 col-md-6 offset-md-3 mb-4">
      <h3>Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>


